#nav {
    height: 50px;
    width: 100%;
    color: #000000;
}

#nav-content {
    margin: 0 auto;
    width: 85%;
    height: 100px;
    border-bottom: #fff23d .5px solid;
}

#logo {
    float: left;
}

#user-box {
    float: right;
}

#main-content {
    width: 85%;
}
#submission-list {
    float: left;
}

#sidebar {
    float: right;
}
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
  }

#modal-content {
    margin: 12% auto;
    padding: 15px;
    border: 1px solid #000000;
    width: 50%;
    background-color: #ffffff;
}

#submission-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
  }

#submission-modal-box {
    margin: 15px auto;
    width: 85%;
    height: 100%;
    background-color: #ffffff;
}

#submission-modal-header {
    background-color: #000000;
    width: 100%;
    height: 45px;
}

#submission-modal-content {
    width: 100%;
    height: 100%;
}


